body{
    background-image: url(sad.webp);
    width: 1300px;
    background-repeat: no-repeat;
    background-size: 1400px;
}
#det{
    border: 1px solid black;
    width: 800px;
    position: absolute;
    left: 75px;
    border-radius: 100px;
    padding-left: 20px;
    background-color: white;

}
img{
    width: 150px;
    border-radius: 50%;
    border: 5px solid black;
}
p{
    width: 500px;
    position: absolute;
    left: 250px;
    top: 75px;
    font-size: 20px;
}
h1{
    width: 450px;
    position: absolute;
    color: black;
    left: 250px;
    top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#det1{
    border: 1px solid black;
    width: 800px;
    position: absolute;
    right: 75px;
    border-radius: 100px;
    padding-left: 20px;
    top: 250px;
    background-color:white;
} 
#det2{
    border: 1px solid black;
    width: 800px;
    position: absolute;
    left: 75px;
    border-radius: 100px;
    padding-left: 20px;
    top: 475px;
    background-color:white;

}
#det3{
    border: 1px solid black;
    width: 800px;
    position: absolute;
    right: 75px;
    border-radius: 100px;
    padding-left: 20px;
    top: 700px;
    background-color:white;
}
#but1{
    position: absolute;
left: 600px;
top: 38px;
padding: 8px;
border-radius: 15px;
background-color: orange;


}
#but1:hover{
    background-color: darkgray;
   
}
#but2{
    position: absolute;
right: 300px;
top: 31px;
padding: 8px;
border-radius: 15px;
background-color: green;


}
#but2:hover{
    background-color: darkgray;
   
}
#but3{
    position: absolute;
left: 600px;
top: 35px;
padding: 8px;
border-radius: 15px;
background-color: aqua;


}
#but3:hover{
    background-color: darkgray;
   
}
#but4{
    position: absolute;
right: 80px;
top: 35px;
padding: 8px;
border-radius: 15px;
background-color: rgb(204, 74, 74);


}
#but4:hover{
    background-color: darkgray;
   
}
h1:hover{
    text-decoration: underline;
}
#det:hover,#det1:hover,#det2:hover,#det3:hover{
    border: 3px solid black;
    padding: 8px;
    border-radius: 120px;
}
