
body{
    background-image: url('thank1.png');
    background-repeat: no-repeat;
    width: 1300px;
    background-size: 1400px;
}

#Thank{
    
 position: relative;
 top:220px;
 left: 200px;
 font-size: 70px;
 color: black;
}
#thankbut{
    position: absolute;
    top: 370px;
    left: 290px;
    width: 130px;
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(224, 170, 53);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px;
}
#thankbut:hover{
    background-color: orange;
    transform: scale(1.1);
}
